<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta httpEquiv="x-ua-compatible" content="ie=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div id="cash-app-pay"><!-- populated by Pay Kit --></div>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
    <script type="text/javascript">
      function GetQueryString(name)
      {
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if(r!=null)return  unescape(r[2]); return null;
      }
      var cashRequestID = GetQueryString("cash_request_id");
      $(window).load(function(){
        $.post("<%= createPaymentUrl %>", {
          cashRequestID
        }, function (response) {
          if(response.status === 'success' ){
            window.location.href = "<%= successUrl %>";
          } else {
            window.location.href = "<%= failUrl %>";
          }
        });
      })
    </script>
  </body>
</html>
